.note-style {
  width: 24%;
  max-width: 100%;
  margin: .5%;
  font-size: 14px;
  border: 1px solid gray;
  color: darkslategrey;

  .note-action {
    margin: 10px;
    user-select: none;
  }

  .active {
    color: tomato;
  }
}

